<ul id="breadcrumbs">
  <li><a href="/pages">Home</a>
  <% @url_path_components.each do |pc| %>
  </li>
  <li><a href="#"><%= pc %></a>
  <% end %>
  </li>
</ul>
<% if @page %>
<script type="text/javascript" src="/js/highlight.pack.js"></script>
<script type="text/javascript" src="/js/editor.js"></script>
<script type="text/javascript">
$(function() {
  // Handler for .ready() called.
  $('#source').val(<%= raw(@page.markdown.to_json) %>);

  // Forcing Hallo to update HTML after loading the markdown
  var e = $.Event('keyup');
  $('#source').trigger(e);

  endEditing();

 $('#edit').click(function() {
  // $('#source').show();
  $('#content').hallo({editable: true,});
  $('#edit').hide();
  $('#save').show();
  $('#show-md-editor').show();
  $('#show-md-editor').text('Show Markdown');
  $('#cancel').show();
 });

 $('#save').click(saveMarkdown);
 $('#show-md-editor').click(function() {
   $('#source').toggle()
   if ($('#source').is(":visible")) {
     $('#show-md-editor').text('Hide Markdown');
   }
   else {
     $('#show-md-editor').text('Show Markdown');
   }
 });

 $('#cancel').click(endEditing);

 $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
});

function endEditing() {
  $('#edit').show();
  $('#save').hide();
  $('#show-md-editor').hide();
  $('#cancel').hide();
  $('#source').hide();
  $('#content').hallo({editable: false});
}

function saveMarkdown() {
  var updatedPage = { url_path: "<%= @page.url_path %>", markdown: $('#source').val() };
  $.post('/pages/<%= @page.url_path %>', updatedPage, function(data) {
    console.log(data);
    window.location.reload(true);
  });

  endEditing();
}

</script>
<div class="mod-text">
  <span class="label"><%= @page.author.email %></span> 
  edited at
  <span class="mod-date"><%= @page.latest_updated_at.strftime("%I:%M%P %B %d, %Y") %></span>

<% if user_signed_in? %>
  <span style="margin-left: 20px">
  <a id="edit" href="#" class="btn btn-mini btn-primary">Edit</a>
  <a id="save" href="#" class="btn btn-mini btn-primary">Save</a>
  <a id="show-md-editor" href="#" class="btn btn-mini">Show Markdown</a>
  <a id="cancel" href="#" class="btn btn-mini">Cancel</a>
  </span>
<%end%>

</div>
<textarea id="source">
</textarea>
<div id="content" class="editable">
</div>
<% else %>
<% if user_signed_in? %>
<script type="text/javascript">
$(function () {
  $('#create').click(function() {
    var newPage = { url_path: "<%= @url_path %>", markdown: "# New Page" };
    $.post('/pages/<%= @url_path %>', newPage, function(data) {
      window.location.reload();
    });

  });
});
</script>
<a id="create" href="#" class="btn btn-primary">Create</a>
<% end %>
<% end %>
