<ul id="breadcrumbs">
  <li><a href="/pages">Home</a>
  <% @url_path_components.each do |pc| %>
  </li>
  <li><a href="#"><%= pc %></a>
  <% end %>
  </li>
</ul>
<% if @page %>
<script type="text/javascript" src="/assets/highlight.pack.js"></script>
<script type="text/javascript" src="/assets/editor.js"></script>
<script type="text/javascript">
$(function() {
  // Handler for .ready() called.
  $('#source').val(<%= raw(@page.markdown.to_json) %>);

  // Forcing Hallo to update HTML after loading the markdown
  var e = $.Event('keyup');
  $('#source').trigger(e);

  endEditing();

 $('#edit').click(function() {
  $('#source').show();
  $('#content').hallo({editable: true});
  $('#edit').hide();
  $('#save').show();
  $('#cancel').show();
 });

 $('#save').click(saveMarkdown);

 $('#cancel').click(endEditing);

 $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
});

function endEditing() {
  $('#edit').show();
  $('#save').hide();
  $('#cancel').hide();
  $('#source').hide();
  $('#content').hallo({editable: false});
}

function saveMarkdown() {
  var updatedPage = { url_path: "<%= @page.url_path %>", markdown: $('#source').val() };
  $.post('/pages/<%= @page.url_path %>', updatedPage, function(data) {
    console.log(data);
  });

  endEditing();
}

</script>
<% if user_signed_in? %>
<div>
  <a id="edit" href="#" class="btn btn-primary">Edit</a>
  <a id="save" href="#" class="btn btn-primary">Save</a>
  <a id="cancel" href="#" class="btn">Cancel</a>
</div>
<%end%>
<textarea id="source">
</textarea>
<div id="content" class="editable">
</div>
<% else %>
<script type="text/javascript">
$(function () {
  $('#create').click(function() {
    var newPage = { url_path: "<%= @url_path %>", markdown: "# New Page" };
    $.post('/pages/<%= @url_path %>', newPage, function(data) {
      console.log(data);
    });

  });
});
</script>
<a id="create" href="#" class="btn btn-primary">Create</a>
<% end %>
