<!DOCTYPE html>
<html>
<head>
  <title>Nexus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  <script src="/js/hallo.js"></script>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
 
  <div id="container">
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>

    <% if user_signed_in? -%>
      <div id="user_login_box" style = "float:right">
        Hello. 
        <% if current_user.nick_name != nil && current_user.nick_name != ""%>
          <%= current_user.nick_name %>
        <% else %>
          <%= current_user.first_name %> 
          <%= current_user.last_name %> |
        <% end -%>
        <%= link_to 'My info', edit_user_registration_path %> |
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
      </div>
    <% else %>
      <div id="user_signup_box" style = "float:right">
        <%= link_to 'Sign up', new_user_registration_path %> | 
        <%= link_to 'Sign in', new_user_session_path %> 
    <% end -%>
    <div style="clear:both"></div>
  </div>
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="/">Nexus</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>
 
    </div>
  </div>
</div>  
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
      <!--Body content-->
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
